on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ 7.3, 7.4, 8.0 ]
        include:
          - php: 8.1
            experimental: true
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@2.9.0
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          extensions: zip, :xdebug
          tools: composer

      - name: Determine composer cache directory
        id: composer-cache
        run: echo "::set-output name=directory::$(composer config cache-dir)"

      - name: Cache composer dependencies
        uses: actions/cache@v2.1.3
        with:
          path: ${{ steps.composer-cache.outputs.directory }}
          key: ${{ matrix.php }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ matrix.php }}-composer-

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Determine npm cache directory
        id: npm-cache
        run: echo "::set-output name=directory::$(npm config get cache)"

      - name: Cache npm dependencies
        uses: actions/cache@v2.1.3
        with:
          path: ${{ steps.npm-cache.outputs.directory }}
          key: npm-${{ hashFiles('**/npm-shrinkwrap.json') }}
          restore-keys: npm-${{ hashFiles('**/npm-shrinkwrap.json') }}

      - name: Install dependencies
        run: |
          echo "::group::composer update"
          composer update --no-interaction --prefer-dist
          echo "::endgroup::"

          echo "::group::npm update"
          npm install
          echo "::endgroup::"

      - name: Start JSON-RPC
        shell: bash
        run: "node tests-js/json-rpc.js &"

      - name: Run PHPUnit
        run: ./vendor/bin/simple-phpunit -v

      - name: Run Mocha
        run: ./node_modules/.bin/mocha --require tests-js/bootstrap.js tests-js/twig/**.js